.container-likelist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between; /* Distribute space between items horizontally */
}
.likelist-image {
  width: 90%;
}
.add-cart {
  position: absolute;
  left: 0%;
  bottom: 5px;
  width: 90%;
  padding: 5%;
  border: none;
  background-color: black;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.add-cart:hover {
  background-color: #494949;
}
.remove {
  color: black;
  background-color: white;
  position: absolute;
  right: 14%;
  top: 7%;
  padding: 3%;
  border-radius: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.remove:hover {
  color: white;
  background-color: black;
}
.like-header {
  margin-bottom: 40px;
  margin-top: 60px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.all-bag-btn {
  width: 218px;
  height: 56px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #808080eb;
  font-weight: bold;
  transition: background-color 0.5s ease-in-out;
}
.product-margin {
  margin-bottom: 5%;
}
.product-description-likelist {
  margin: 5% 0;
}
.stars {
  padding-bottom: 10%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .container-likelist {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .liked-items {
    font-size: 16px;
  }
  .like-header {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
}
