/* Wrapper to position everything nicely */

.slick-slide img {
  width: 93%;
  margin-inline: auto;
}
.carousel-wrapper-product-line {
  max-width: 1188px;
  margin-inline: auto;
}
/* Position for custom arrows */
.custom-arrows {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1%;
}
.product-info {
  width: 93%;
}
.mg-top-50-sides-30-bottom-0 {
  margin: 50px 30px 0 30px;
}
/* Styling for each arrow */
.prev-arrow,
.next-arrow {
  background-color: #f5f5f5;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  padding: 14px;
}
.next-arrow {
  margin-right: 5px;
}
.next-arrow img {
  transform: rotate(180deg);
}
/* Styling for images inside arrows */
.prev-arrow img,
.next-arrow img {
  width: 19px; /* Adjust the size of the arrows */
  height: 17px;
}

/* Optional: Hover effect for arrows */
.prev-arrow:hover,
.next-arrow:hover {
  opacity: 0.5;
}
.heading-description {
  display: flex;
  align-items: center;
}
.heading-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.time-output {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.orange-span {
  border-radius: 5px;
  margin-right: 10px;
  height: 40px;
  width: 20px;
  background-color: #db4444;
  display: block;
}
.orange {
  color: #db4444;
}

/* Two dots in a clock */
.two-dots {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: space-evenly;
  height: 30px;
  width: 30px;
}
.dot {
  border-radius: 20px;
  align-self: center;
  display: block;
  width: 4px;
  height: 4px;
  background-color: #db4444;
}

/* Product description */
.relative {
  position: relative;
}
.addTo-cart {
  position: absolute;
  width: 93%;
  font-size: 16px;
  bottom: 0%;
  left: 3.5%;
  padding: 5% 0px;
  background-color: black;
  color: white;
  border: none;
  opacity: 0;
  transition: opacity 0.5s ease, background-color 0.3s ease;
  cursor: pointer;
}
.relative:hover .addTo-cart {
  opacity: 1;
}
.addTo-cart:active {
  opacity: 0.5;
}
.product-name {
  display: block;
  width: 93%;
  font-weight: 500;
  font-size: 16px;
  margin: 5% 0;
}
.product-description {
  margin-bottom: 5%;
}
.discounted-price {
  text-decoration: line-through;
  padding-left: 5%;
  opacity: 0.5;
}
.full-price {
  color: #db4444;
  font-weight: medium;
}
.reviews-number {
  opacity: 0.5;
}
.stars img {
  width: 20px;
  height: 20px;
}
.stars {
  display: flex;
  align-items: center;
}
.render-stars-container {
  display: flex;
}
.product-tag {
  position: absolute;
  top: 10%;
  left: 10%;
}
.sale-tag,
.new-tag {
  padding: 6px 10px;
  color: white;
  border-radius: 8px;
}
.sale-tag {
  background-color: #db4444;
}
.new-tag {
  background-color: #00ff66;
}
.like-icon {
  position: absolute;
  top: 8%;
  width: fit-content !important;
  right: 11%;
}
.watchlist-icon {
  position: absolute;
  top: 23%;
  width: fit-content !important;
  right: 9%;
  padding: 2%;
  border-radius: 20px;
}
.watchlist-icon:hover,
.like-icon:hover {
  opacity: 0.5;
}
.view-all {
  margin-inline: auto;
  display: block;
  width: 200px;
  height: 50px;
  margin-top: 3%;
  color: white;
  background-color: #db4444;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}
.view-all:hover {
  opacity: 50%;
}
.item-list {
  display: none;
}
.product-name a {
  color: black;
}
@media (min-width: 320px) and (max-width: 767px) {
  .custom-arrows {
    display: none;
  }
  .product-name {
    font-size: 14px;
  }
  .product-description {
    font-size: 14px;
  }
  .heading-section {
    font-size: 18px;
    padding: 5% 0px;
  }
  .heading-section table {
    display: none;
  }

  .heading-description {
    display: none;
  }
  .product-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .stars {
    display: none;
  }
  .sale-tag,
  .new-tag {
    padding: 3px 2px;
    color: white;
    border-radius: 8px;
    font-size: 83%;
  }
  .watchlist-icon,
  .like-icon {
    display: none !important;
  }
  .addTo-cart {
    display: none;
  }
  .view-all {
    display: none;
  }
  .slider-container {
    display: none;
  }
  .item-list {
    display: grid;
    grid-template-columns: repeat(2, 48%); /* 2 items per row */
    grid-template-rows: repeat(2, 1fr); /* Limit to 2 rows (max) */
    gap: 1% 5%; /* Adjust gap between items */
    overflow: hidden; /* Hide anything that overflows */
  }
  .item-list div:nth-child(n + 5) {
    display: none; /* Hide items starting from the 3rd item onwards */
  }
  .addTo-cart {
    width: 100%;
  }
  .relative img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-arrows {
    display: none;
  }
  .time-output {
    font-size: 22px;
  }

  .orange-span {
    height: 30px;
    width: 15px;
  }
  .orange-text {
    font-size: 14px;
  }
  .product-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .watchlist-icon {
    top: 28%;
  }
}

/* Testing functionality */

/* Carousel.css */

/* Cart Summary */
.cart-summary {
  margin-top: 20px;
  padding: 10px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-item-actions button {
  margin: 0 5px;
}

.cart-total {
  font-weight: bold;
  margin-top: 10px;
}
