.cart-table {
  text-align: left;
  width: 100%;
  border-spacing: 0 15px;
}
.cart-container {
  max-width: 1170px;
  margin-inline: auto;
  padding: 0 30px;
}
.back-links {
  margin-top: 4%;
  margin-bottom: 2%;
}

.table-data {
  padding: 2%;
  border-top: 1px solid #00000024;
  border-bottom: 1px solid #00000024;
}
.first-element {
  border-left: 1px solid #00000024;
  border-radius: 11px 0 0 11px;
}
.last-element {
  border-right: 1px solid #00000024;
  border-radius: 0 11px 11px 0;
  width: 16%;
}
.operations-quantity {
  display: flex;
  flex-direction: column;
}
.operation-btn {
  padding: 0;
  width: 25px;
  cursor: pointer;
}
.operation-box {
  display: flex;
  align-items: center;
  background-color: white;
  width: fit-content;
  border-radius: 8px;
  border: 1px solid black;
}
.quantity-box {
  margin: 10px;
  width: 12px;
}
.cart-row-image {
  width: 10%;
}
.photo-item {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 50px;
}
.price-column {
  width: 8%;
}
.quantity-column {
  width: 11%;
}
.x-icon {
  padding: 5px;
  background-color: red;
  color: white;
  border-radius: 20px;
  position: absolute;
  top: 13%;
  left: 9%;
  cursor: pointer;
}
.x-icon:hover {
  opacity: 0.5;
}
.home-link {
  color: grey;
}
.cart-link {
  color: black;
}
.cart-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}
.cart-btn,
.coupon-btn {
  color: black;
  width: 218px;
  height: 56px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #808080eb;
  font-weight: bold;
  transition: background-color 0.5s ease-in-out;
}
.cart-btn:hover {
  background-color: #db4444;
  color: white;
  border: white;
  cursor: pointer;
}
.coupon-input {
  height: 34px;
  width: 300px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 20px;
}
.coupon-btn {
  background-color: #db4444;
  color: white;
  margin-left: 4%;
}
.coupon-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}
.flex,
.flexed {
  display: flex;
}
.underline {
  border-bottom: 1px solid grey;
}
.total-item {
  justify-content: space-between;
  padding: 3% 0;
}
.between {
  justify-content: space-between;
}
.cart-total-container {
  width: 33%;
  border: 1px solid black;
  padding: 3%;
}
.mt {
  margin-top: 10%;
  margin-bottom: 10%;
}
.checkout-btn {
  margin-top: 5%;
  display: block;
  margin-inline: auto;
  color: white;
  background-color: #db4444;
  padding: 4% 8%;
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
}
.checkout-btn:hover {
  opacity: 0.5;
}
.empty-cart {
  padding-top: 2%;
  font-size: 20px;
}
.text {
  padding-left: 5%;
}
.cart-container-mobile {
  display: none;
}
/* Mobile */
.image-section-mobile {
  display: flex;
  justify-content: space-between;
  width: 40%;
  border: 1px solid rgb(252, 134, 125);
  border-radius: 10px;
  align-items: center;
  background-color: white;
  outline: 1px solid yellow;
}

.product-container-mobile {
  display: flex;
  width: 100%;
}
.product-container-mobile img {
  width: 40%;
}
.operation-btn-mobile {
  margin-inline: 5%;
  cursor: pointer;
}
.description-section {
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-card-mobile {
  margin: 20px auto;
  max-width: 480px;
  padding-inline: 20px;
  background-color: #f5f5f5;
  padding: 3%;
}
.padding-top {
  padding-top: 5%;
}
.stock-mobile {
  color: green;
  font-size: 14px;
}
.shipping-info {
  font-size: 14px;
  color: #413e3e;
}
.price-mobile {
  font-size: 18px;
  font-weight: bold;
}
.category-mobile {
  font-weight: bold;
  font-size: 14px;
}
.delete-btn-mobile {
  width: 60px;
  border-radius: 20px;
  padding: 8%;
  color: black;
  background-color: white;
  border: 1px solid #000000a1;
}

@media (min-width: 320px) and (max-width: 767px) {
  .flexed {
    display: block;
  }
  .cart-container {
    display: none;
  }
  .cart-container-mobile {
    display: block;
  }
  .empty-cart {
    text-align: center;
    margin: 50% 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .flexed {
    display: block;
  }
  .cart-total-container {
    margin-inline: auto;
    width: 50%;
  }
  .coupon-input,
  .coupon-btn {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 530px) {
  .product-card-mobile {
    margin: 5% 14px;
  }
}
