/* Hero.css */
.hero {
  padding: 0 30px;
  margin-inline: auto;
  display: flex;
  max-width: 1170px;
}

.hero__left {
  text-align: left;
  width: 20%;
  border-right: 1px solid #02020226;
  /* Light background for the left section */
  padding: 33px 0 0 0;
}

.hero__left ul {
  list-style-type: none; /* Remove list decorations */
  padding: 0;
}

.hero__left li {
  margin-bottom: 7%;
}

.hero__left a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.hero__left a:hover {
  color: rgba(0, 0, 0, 0.438); /* Highlight color on hover */
}

.hero__right {
  padding: 33px 0 0 33px;
  max-width: 1000px;
  position: relative; /* This is for positioning the "Shop Now" text */
}

.hero__image-container {
  position: relative;
}

.hero__image {
  width: 100%;
  max-width: 892px;
  max-height: 344px;
}

.hero__shop-now {
  align-items: center;
  display: flex;
  border-bottom: 1px solid white;
  position: absolute;
  bottom: 11%;
  left: 7%;
  font-size: clamp(14px, 1vw, 18px);
  color: white;
  padding: 7px 0;
  cursor: pointer;
}

.hero__shop-now:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Darker background on hover */
}

.hero__text {
  position: absolute;
  color: white;
  top: 40%;
  font-size: clamp(20px, 4vw, 48px);
  left: 7%;
  text-align: left;
}

@media (min-width: 320px) and (max-width: 767px) {
  .hero__left {
    display: none;
  }
  .hero__right {
    padding: 0;
    width: 100%;
    max-width: 1024px;
  }
  .hero {
    padding: 0;
  }
  .hero__text {
    display: none;
  }
  .hero__shop-now {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .hero__left {
    display: none;
  }
  .hero__right {
    padding: 0;
    width: 100%;
    max-width: 1024px;
  }
  .hero {
    padding: 0;
  }
  .hero__image {
    width: 100%;
    max-width: 1200px;
  }
  .hero__text {
    top: 44%;
  }
}
