.contact-page{
    
    max-width: 1170px;
}
.contact-container{
    justify-content: space-between;
}
.left-contact-container,
.right-contact-container{
    padding:4%;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.left-contact-container{
    width:25%;
}
.right-contact-container{
    width:55%;
}
.input-contact-page{
    background-color:#F5F5F5;
    width:30%;
}

.send-message-container{
    margin: 3% 0;
    width: 100%;
    
}
.send-message-textarea{
    width:-webkit-fill-available;
    height: 150px;
    resize: none;
}
.send-message-btn{
    float: right;
}
.links-home{
    margin:46px 0;
}

.success-message,
.fail-message {
    position: fixed; /* Keep the div fixed on the screen */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust to perfect center */
    /* Semi-transparent green background */
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    z-index: 9999; /* Ensure it appears above other elements */
    opacity: 0; /* Initially hidden */
    animation: fadeInOut 6s forwards; /* Fade in and out effect */
}
.success-message{
    background: rgba(0, 128, 0, 0.8); 
}
.fail-message{
background-color: red;
}

/* Content inside success message */
.success-message .popup-content {
    display: flex;
    align-items: center;
}

.success-message img {
    margin-right: 10px;
}

/* FadeIn and FadeOut animation */
@keyframes fadeInOut {
    0% {
        opacity: 0; /* Initially invisible */
    }
    30% {
        opacity: 1; /* Fully visible at 1.2 seconds */
    }
    80% {
        opacity: 1; /* Remains visible until 3.2 seconds */
    }
    100% {
        opacity: 0; /* Fade back to invisible at the end */
    }
}


@media (min-width: 320px) and (max-width: 767px) {
    .direction-column-767{
        flex-direction: column;
    }
    .right-contact-container{
        width:auto;
    }
  }
 