.notfound-container {
  max-width: 1170px;
  text-align: center;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 280px;
}
.notfound-heading {
  color: black;
  font-size: 110px;
}
.notfound-container button {
  padding: 16px 70px;
  color: white;
  font-size: 20px;
  background-color: #db4444;
  border-radius: 5px;
  border: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .notfound-heading {
    font-size: 40px;
  }
  .notfound-container p,
  .notfound-container button {
    display: none;
  }
  .notfound-container {
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
}
